* {
    margin: 0;
    padding: 0;

    border: none;
    outline: none;

    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

body {
    background-color: #cce0ff;
}

canvas {
    width: 100%;
    height: 100%;
}

button {
    position: absolute;
    left: 20px;
    top: 20px;

    padding: 10px;
}

.compass {
    position: absolute;
    left: 50px;
    bottom: 50px;

    width: 128px;
    height: 128px;

    background: url(../images/compass-no-ring.png) no-repeat center;
    background-size: contain;
}

.vr-ui-pane {
    position: fixed;
    top: 0;

    width: 50%;
    height: 100%;

    overflow: hidden;
    pointer-events: none;
}
.vr-ui-pane.left { left: 0 }
.vr-ui-pane.right { right: 0 }

.marker {
    position: absolute;
    left: -16px;
    top: -16px;

    width: 32px;
    height: 32px;

    background-image: url(../images/marker.png);

    transform: translate(-50%, -50%);
    display: block;
}

/* Utility classes */

.full-width { width: 100% }
